.colmidl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.login_div{
    margin-top: 50%;
    background-color: #FFF;
    width: 200px;
    box-shadow: 1px 1px 9px;
    width: 350px;
    height: 300px;
    border-radius: 10px;
}
.cmnst{
    font-size: 20px;
    color: #111;
    font-weight: normal;
    line-height: 1em;
}
.login_form input{
    height: 33px;
    width: 100%;
    border-radius: 10px;
    padding: 5px 2.5px;
    margin: 5px 2.5px;
    border: 1px solid rgba(0, 128, 0, 0.253);
}
.login_form input:focus{
    outline: none;
    border: 1px solid blue;
}
.lgbtn{
    width: auto;
    height: auto;
    background-color: green;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 2px 2px;
    color: #FFF;
    font-size: 22px;
}
.rgbtn{
    background-color: blue;
    text-decoration: none;
}
.lgbtn:hover{
    cursor: pointer;
    background-color: rgb(8, 109, 8);
}

.rgbtn:hover{
    background-color: rgb(21, 21, 168);
}