.usr_more_info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.user_disp{
    border: 1px solid red;
    margin: 10px 10px;
    padding: 10px 10px;
    width: 600px;
}
.labels{
    font-weight: bolder;
    font-size: 20px;
}
.users_d{
    display: flex;
    justify-content: space-around;
    margin: 10px 0px;   
}
.subt{
    background-color: #363232;
    color: white;
    font-weight: bold;
    padding: 10px 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}
.subt:hover{
    cursor: pointer;
    background-color: #1d1b1b;
}

.num_evts span{
    padding: 10px 10px;
}
.num_evts{
    background-color: blue;
    padding: 10px 10px;
    border-radius: 5px 5px;
    color: white;
}
.num_evts:hover{
    cursor: pointer;
}
.usr_evtsnr{
    display: flex;
    justify-content: space-between;
}
.usr_evtsnr div{
    margin: 0px 5px;
}
.spdv{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
}
.sp_nvb{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: inherit;
}
.sp_nvb button{
    border: none;
    background-color: inherit;
    padding: 10px 10px;
    font-weight: bold;
    font-size: 20px;
    margin: auto 10%;
}

.sp_nvb button:hover{
    cursor: pointer;
    text-decoration: underline;
}
.shus{
    text-decoration: underline;
}
.hidespdvs{
    display: none;
}
.dispn{
    display: none;
}
.dispb{
    display: block;
}