/**
display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
*/
.ve{
    flex-direction: column;
}
.show_events{
    display: flex;
    flex-direction: column;
    align-content: center;
    height: auto;
}

.evt_disp{
    display: flex;
    align-items: center;
    margin: 10px 10px;
    border-bottom: 1px solid rgba(119, 115, 115, 0.219);
}
.one_ev{
    width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px dotted #00000087;
    margin-bottom: 10px;
    border-radius: 5px;
}
.blk_desc{
    width: 60%;
}
.dlfx{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mgpd{
    margin: 10px 10px;
    padding: 10px 10px;
}
.abt_orzr{
    justify-content: flex-start;
    margin: 10px 10px;
    border-bottom: 1px dotted rgb(43, 41, 41);
}
.orgd{
    margin-right: 5px;
    cursor: pointer;
}
.abt_evt{
    flex-direction: column;
}
.mrd{
    display: flex;
    justify-content: space-around;
}
.mrdso{
    padding: 5px 5px;
    font-weight: bold;
}
.desc_txt{
    word-break: break-word;
}
.rmv_evt{
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    justify-self: flex-end;
}
.evnts_pcs{
    margin-top: 100px;
    /*width: 300px;*/
    width: 50%;
    /* height: 300px; */
    height: 100%;
    overflow-y: scroll;
}
.nomrgtp{
    margin-top: 0px;
}
.evmg{
    display: none;
    width: 80%;
    height: auto;
    max-height: 100%;
}
.evmgblk{
    display:block;
}
.vlt{
    display: flex;
}
.vlts{
    padding: 2.5px;
    margin: 2.5px;
}
.prt{
    background-color: green;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
}
.prt:hover{
    cursor: pointer;
    background-color: rgb(6, 112, 6);
}
.txtDesc{
    word-break: break-word;
}

/* COMMENTS STYLING */

.cmt_mndv{
    width:80%;
}
.pstcmtxta{
    width: 80%;
    margin: 0px;
    border: none;
    border-bottom: 1px solid #dfdada;
    font-size: 18px;
    padding: 10px 10px;
    background-color: rgba(218, 214, 214, 0.123);
    border-radius: 5px;
}
.pstcmtxta:focus-visible{
    outline: none;
    border-bottom: 2px solid #111;
}
.allcmts{
    padding: 10px 10px;
}
.snglsmt{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 20px;
    padding:10px 10px;
    margin: 10px 10px;
}
.rpt_txt{
    margin: 10px 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: aliceblue;
    padding: 10px 10px;
    border-radius: 5px;
}
.cmtpfimg{
    padding: 0px 10px;
}
.cmtername{
    margin-bottom: 10px;
}
.cmtdate{
    color: rgb(197, 196, 196);
}
.hidecmts{
    display: none;
}
.cmtauthnm{
    font-weight: bold;
    cursor: pointer;
}
.cmtpfp{
    cursor: pointer;
}
.hiderptdv{
    display: none;
}
.hidermvcmtb{
    display: none;
}