html{
  margin: 0;
  padding: 0;
}
body{
    margin: 0;
    /*background-color: #FFFFFF;*/
    background: #fff;
}

input{
  border: 1px solid rgb(21, 201, 177);
}
input:focus-visible{
  border: 2px solid rgb(21, 201, 177);
  outline: rgb(21, 201, 177);
}
.nav_bar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(21, 201, 177);
  height: 50px;
  padding: 10px 10px;
  font-weight: bold;
  position: fixed;
  top: 0%;
  width: 100%;
  margin-top: 0px;
}
.app_name{
  font-size: 20px;
  color: #FFFFFF;
}
.main_section{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
.main_section_son2{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}
/*
.login_txt{
  font-size: 30px;
  padding: 10px 10px;
  margin: 10px 10px;
  font-style: italic;
  font-weight: bold;
}
*/
.cover_img{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app_motto{
  font-style: normal;
  font-weight: bolder;
  font-size: 20px;
  line-height: 1.2em;
  color: rgb(16, 173, 229);
  font-family: Verdana, sans-serif;
}

.login_form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  background-color: #f6f6f6;
  width: 60%;
  padding: 10px 10px;
  box-shadow: rgb(0 0 255 / 20%) -1px 0px 2px 1px
}
.login_btn{
  margin-top: 4%;
  width: auto;
  background-color: rgb(41, 163, 147);
  font-size: 20px;
  color: white;
  font-weight: bold;
  padding: 5px 5px;
  border: none;
}
.login_btn:hover{
  cursor: pointer;
  background-color: rgb(21, 201, 177);
}
.forgot_pwd_spn:hover{
  cursor: pointer;
  text-decoration: underline;
}
.sprt1{
  width: 80%;
  align-items: center;
  border-bottom: 1px solid #dadde1;
  display: flex;
  margin: 20px 16px;
  text-align: center;
}
.opnacc0{
  background-color: rgb(34, 141, 180);
  border-radius: 5px;
  padding: 10px 10px;
  margin: 10px 10px;
}
.opnacc0:hover{
  background-color: rgb(16, 173, 229);
}
.log09{
  font-size: 20px;
  padding: 10px 10px;
  border-radius: 5px 5px;
}
.login_form input {
  height: 64px;
  width: 80%;
  font-size: 20px;
  border-radius: 5px 5px;
  padding: 5px 5px;
  margin: 10px 10px;
}
/** REGISTER */
.reg_form, .reg_response{
  display: flex;
 /* justify-content: center; */
  flex-direction: column;
  justify-self: center;
  width: 20%;
  margin: 5% auto;
}
.reg_form1{
  margin: 10px 10px;
  width: 100%;
}
.rgdv{
  width: 60%;
}
.reg_txt{
  font-size: 30px;
  font-weight: bolder;
}

.reg_form{
  margin-top: 10%;
}
.reg_form input{
  height: 30px;

}

.reg_form button{
  width: 25%;
  align-self: center;
}

.reg_response{
  border: 1px solid red;
  width: 400px;
  height: 400px;
}
.sbm{
  width: auto;
  background-color: rgb(34, 141, 180);
  padding: 10px 10px;
  color: #fff;
  font-weight: bold;
  border: none;
  font-size: 20px;
  border-radius: 5px 5px;
}
.sbm:hover{
  cursor: pointer;
  background-color: rgb(16, 173, 229);
}
.hidregfrm{
  display: none;
}
.abtus_a{
  text-decoration: none;
  font-size: 20px;
  color: #FFF;
}
.abtus_a:hover{
  text-decoration: underline;
}
.emplh{
  text-decoration: underline;
  color: rgb(16, 173, 229);
}