body{
    margin: 0px;
    padding: 0px;
    background-color:  #FFF
}
.showInfo{
    text-decoration: none;
    color: inherit;
}
.nav_bar0{
    position: fixed;
    top: 0%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(21, 201, 177);
    height: 100px;
    z-index: 1;
}

.nav_logged{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
    margin: 0px;
}
.nav_btns{
    justify-content: space-evenly;
}
.main_body{
    width: 100%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_body_son2{
    display: flex;
    justify-content: center;
    width: 100%;
}
.info_div{
    display: flex;
    margin: 10px 10px;
    align-items: center;
}

.sp_attr, .adt{
    background-color: rgb(207, 203, 203);
    font-weight: bold;
    font-size: 20px;
    height: 30px;
    width: auto;
    border: 1px dotted green;
    border-radius: 10px;
}
.sp_attr{
    width: 400px;
}
.nv_el{
    margin: 10px auto;
}

.nv_btn{
    width: auto;
    font-size: 20px;
    background-color: rgb(20, 20, 20);
    color: #FFF;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
}


/* *********************************************/
.view_user{
    margin: 10px 10px;
    padding: 10px 10px;
}

.sec_name{
    font-size: 30px;
    font-weight: bold;
    margin: 10px 10px;
}

.form_ele{
    border: 1px solid #9100ff;
    width: 500px;
    padding: 10px 10px;
}

.srch_parent, .srch_attr{
    margin: 10px 10px;
    padding: 10px 10px;
}

.dispn{
    display: none;
}
.dispb{
    display: block;
}
.disable_user{
    display: flex;
    flex-direction: column;
    width: 500px;
}
.mpd{
    display: flex;
    justify-content: center;
    width: 100%;
}
.hdmap{
    display: none;
}
.nvb{
    background-color: inherit;
    color: #FFF;
    font-size: 18px;
    cursor: pointer;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
}
.nvb:hover{
    text-decoration: underline;
}
.sltdnvb{
    text-decoration: underline;
}
.edt_fn{
    background-color: blue;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    margin: 1px 1px;
    text-align: center;
    border: none;
}
.edt_fn:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0.747);
}
.nav_img_prfl{
    width: 40px;
    height: 40px;
    border-radius: 50% 50%;
    padding: 10px 10px;
}

/* **/