body{
    margin: 0px;
    padding: 0px;
    background-color:  rgb(180, 170, 170);
}
.nav_logged{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: blue;
    width: 100%;
    height: 50px;
    margin: 0px;
}

.info_div{
    display: flex;
    margin: 10px 10px;
    align-items: center;
}

.sp_attr, .adt{
    background-color: rgb(207, 203, 203);
    font-weight: bold;
    font-size: 20px;
    height: 30px;
    width: auto;
    border: 1px dotted green;
    border-radius: 10px;
}
.sp_attr{
    width: 400px;
}
.nv_el{
    margin: 10px auto;
}

.nv_btn{
    width: auto;
    font-size: 20px;
    background-color: rgb(20, 20, 20);
    color: #FFF;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
}


/* *********************************************/
.view_user{

    margin: 10px 10px;
    padding: 10px 10px;
    background-color: rgb(180, 170, 170);
}

.sec_name{
    font-size: 30px;
    font-weight: bold;
    margin: 10px 10px;
}

.form_ele{
    border: 1px solid #9100ff;
    width: 500px;
    padding: 10px 10px;
}

.srch_parent, .srch_attr{
    margin: 10px 10px;
    padding: 10px 10px;
}

.dispn{
    display: none;
}
.dispb{
    display: block;
}
.disable_user{
    display: flex;
    flex-direction: column;
    width: 500px;
}
.mpd{
    display: block;
    width: 60%;
    margin-left: 23.5%;
}
.hdmap{
    display: none;
}
.nvb{
    background-color: inherit;
    color: #FFF;
    font-size: 18px;
    cursor: pointer;
    border: none;
    padding: 5px 5px;
}
.nvb:hover{
    cursor: pointer;
    background-color: rgb(19, 19, 150);
}
.sltdnvb{
    background-color: rgb(30, 30, 182);
}
.edt_fn{
    background-color: blue;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}
.edt_fn:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0.747);

}