.create_events{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.addEvt_frm{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px dotted rgb(21, 201, 177);
    padding: 10px 10px;
}
.evnt_atrs{
    display: flex;
    flex-direction: column;
}
.evnt_atrs input:focus-visible{
    border: 2px solid rgb(21, 201, 177);
    outline: rgb(21, 201, 177);
}
.addEvt_frm{
    width: auto;
}
.gmap{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gmap_img{
    width: 60%;
    height: auto;
}
.upld7{
    cursor: pointer;
    background-color: #556e6c;
    padding: 10px 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
#gtimg{
    opacity: 0;
}
.imgs{
    display: flex;
    flex-direction: column;
    height:500px;
    width: 400px;
    overflow-y: scroll;
}
.admg img{
    width: 400px;
    height: 400px;
}
.doPad{
    padding: 10px 10px;
}
.doMarg{
    margin: 10px 10px;
}

.crt_inp{
    font-size: 20px;
    padding: 2px 2px;
    border: 1px solid rgb(21, 201, 177);
}
.sbt_crt_btn{
    width: auto;
    background-color: rgb(16, 173, 229);
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 10px;
    border: none;
}

.evnt_desc{
    resize: vertical;
    font-size: 25px;
    height: 200px;
    width: 400px;
    border: 1px solid rgb(21, 201, 177);
}
.evnt_desc:focus-visible{
    border: 2px solid rgb(21, 201, 177);
    outline: rgb(21, 201, 177);
}
.crt_btns{
    display: flex;
    justify-content: space-around;
}
#nclbtn{
    background-color: rgb(90 85 85);
    font-weight: normal;
}

.crtb:hover{
    cursor: pointer;
    text-decoration: underline;
}